<nav class="navbar navbar-expand-lg navbar-light bg-light mx-6">
    <div class="container-fluid">
      <!-- Add image before the "Accueil" link -->
      <a class="navbar-brand" href="#">
        <img src="../../assets/OIP.jpeg" alt="Logo" height="40" width="80" class="mr-2">
      </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto"> <!-- Align items to the right -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/adduser">Utilisateur</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Etudiant">Etudiant</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/universite">Université</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/foyer">Foyer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/foyer">Reservation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Bloc/list">Bloc</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Chambre/listchambre">Chambre</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/login" >Déconnexion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
<div class="container mt-4">
    <!-- Display search results or the list of chambres -->
    <div *ngIf="searchResults.length > 0; else listChambre">
      <table class="table mt-3">
        <thead>
          <tr>
            <th>Numéro Chambre</th>
            <th>Type Chambre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let chambre of searchResults">
            <td>{{ chambre.numeroChambre }}</td>
            <td>{{ chambre.typeC }}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteChambre(chambre.idChambre)">Delete</button>
              <button class="btn btn-warning" (click)="navigateToUpdateChambre(chambre.idChambre)">Modify</button>
              <button class="btn btn-success" (click)="downloadQRCode(chambre.idChambre)">Download QR Code</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Chambre list -->
    <ng-template #listChambre>
      <div *ngIf="listChambres.length > 0; else noData">
        <table class="table mt-3">
          <thead>
            <tr>
              <th>Numero Chambre</th>
              <th>Type Chambre</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let chambre of listChambres">
              <td>{{ chambre.numeroChambre }}</td>
              <td>{{ chambre.typeC }}</td>
              <td>
                <button class="btn btn-danger" (click)="deleteChambre(chambre.idChambre)">Delete</button>
                <button class="btn btn-warning" (click)="navigateToUpdateChambre(chambre.idChambre)">Modify</button>
                <button class="btn btn-success" (click)="downloadQRCode(chambre.idChambre)">Download QR Code</button>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <ng-template #noData>
        <p>No Chambre available.</p>
      </ng-template>
      <button class="btn btn-primary" (click)="goToAddChambrePage()">Add Chambre</button>

    </ng-template>
  </div>
  